.form-style-7{
    width:100%;
	margin:50px auto;
	border-radius:6px;
    border: 5px solid #000000;
	padding:20px;
    font-family: 'Raleway', Arial, sans-serif; 
    box-shadow: 0 0 15px 2px rgb(0, 0, 0), 0 10px 45px 0 rgb(255, 255, 255);
    background-color: white;
    text-align: center;
    display: block;
    position: relative;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #ffffff;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #000000;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #000000;
	font-size: 14px;
	overflow: hidden;
	font-family: 'Raleway', Arial, sans-serif;
	text-transform: uppercase;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="phone"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: 'Raleway', Arial, sans-serif;
    
}


.form-style-7 li > span{
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #000000;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 40px;
}
.form-style-7 textarea{
	resize:none;
}





.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #212121;
	border: none;
	padding: 10px 20px 10px 20px;
	border-radius: 3px;
	color: #ffffff;
    font-family: 'Raleway', Arial, sans-serif;
    text-transform: uppercase;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #212121;
	color:#ffffff;
    font-family: 'Raleway', Arial, sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
}


